.table {
  height: 100%;
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

table, th, td {
  border: 2px solid #b3ffb3;
}

td { 
  height: 30px; 
}

.table td:not(.focused) {
  overflow: hidden;
}

.table td > * {
  height: 100%;
  width: 100%;
}

.table td > div {
  cursor: cell;
  text-align: left;
}

.table td input {
  border: none;
  outline: none;
}